html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}

.editor-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.transform-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.snap-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}